version = 3
final_space = true

[palette]
# Gruvbox color palette
blue = '#83a598'
closer = 'p:os'
lavender = '#d3869b'
os = '#a89984'
pink = '#d3869b'
orange = '#fe8019'
purple = '#b16286'
aqua = '#8ec07c'
yellow = '#fabd2f'
green = '#b8bb26'
red = '#fb4934'
gray = '#928374'

[upgrade]
source = 'cdn'
auto = false
notice = true

[transient_prompt]
background = "transparent"
foreground = "p:blue"
template = "{{ .Segments.Time.CurrentDate | date .Segments.Time.Format }}{{ if .Segments.Kubectl.Context }} {{ .Segments.Kubectl.Context }}{{ end }}{{ if .Segments.Aws.Profile }} {{ .Segments.Aws.Profile }}{{ end }} {{if .Root }}(sudo){{end}}<p:blue> "

[[blocks]]
type = 'prompt'
alignment = 'left'
newline = true

[[blocks.segments]]
template = ' {{ .Path }} '
foreground = 'blue'
type = 'path'

[blocks.segments.properties]
folder_icon = '....'
home_icon = '~'
style = 'agnoster_short'
folder_separator_icon = '/'
max_depth = 3

[[blocks.segments]]
type = "git"
style = "plain"
foreground = "green"
template = "{{ .UpstreamIcon }}{{ .HEAD }}{{if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if .Working.Changed }} <yellow> {{ .Working.String }}</>{{ end }}{{ if and (.Working.Changed) (.Staging.Changed) }} |{{ end }}{{ if .Staging.Changed }}  {{ .Staging.String }}{{ end }}{{ if gt .StashCount 0 }}  {{ .StashCount }}{{ end }}"

[blocks.segments.properties]
fetch_status = true
fetch_upstream_icon = true
source = "cli"

[[blocks]]
type = 'prompt'
alignment = 'right'
overflow = 'hidden'

[[blocks.segments]]
type = "executiontime"
style = "powerline"
foreground = "p:lavender"
template = "  {{ .FormattedMs }} "

[blocks.segments.properties]
threshold = 500
style = "austin"

[[blocks.segments]]
type = "kubectl"
tips = ["kubectl", "k", "terraform", "k9s"]
style = "plain"
foreground = "p:purple"
templates_logic = "first_match"
templates = [
  "{{ if matchP \".*-prod\" .Context }}<red>(°ロ°) ! {{.Context}}{{if .Namespace}} :: {{.Namespace}}{{end}}</>{{end}}",
  "\u2388 {{ base .Context}}{{if .Namespace}} :: {{.Namespace}}{{end}} ",
]

[[blocks.segments]]
type = "time"
style = "plain"
foreground = "p:aqua"

[blocks.segments.properties]
time_format = "15:04:05"

[[blocks]]
type = 'prompt'
alignment = 'left'
newline = true

[[blocks.segments]]
templates_logic = "first_match"
templates = ["{{ if gt .Code 0 }}<red> ✘ {{ .Code }}</>{{end}}", "<green> ✔</>"]
foreground = 'p:os'
type = 'status'
style = 'plain'

[blocks.segments.properties]
always_enabled = true

[[blocks]]
type = 'rprompt'

[[blocks.segments]]
type = "terraform"
style = "plain"
foreground = "p:purple"
tips = ["terraform", "tf", "tofu"]

[[blocks.segments]]
type = "aws"
style = "plain"
foreground = "p:green"
templates_logic = "first_match"
templates = [
  "{{ if matchP \".*-prod\" .Profile }}<red>(°ロ°) !  {{.Profile}}{{if .Region}}@{{.Region}}{{end}}</>{{end}}",
  "  {{.Profile}}{{if .Region}}@{{.Region}}{{end}}",
]

[[blocks.segments]]
type = "node"
style = "plain"
foreground = "p:aqua"
tips = ["node", "npm", "yarn", "pnpm", "bun"]

[[blocks.segments]]
type = "python"
style = "plain"
foreground = "p:yellow"
tips = ["python", "python3", "pip", "pip3", "poetry", "uv"]

[blocks.segments.properties]
display_mode = "context"

[[blocks.segments]]
type = "go"
style = "plain"
foreground = "p:blue"
template = "  {{ .Full }} "
tips = ["go", "gofmt"]

[[blocks.segments]]
type = "java"
style = "plain"
foreground = "p:orange"
template = "  {{ .Full }}"
tips = ["java", "javac", "mvn", "gradle"]

[properties]
url = "https://wakatime.com/api/v1/users/current/summaries?start=today&end=today&api_key={{ .Env.WAKATIME_API_KEY }}"
http_timeout = 500
