[[mgr.prepend_keymap]]
on = ["c", "p"]
run = '''
	sh -c 'echo "$@" | cb copy'
'''
desc = "Copy file paths to clipboard"
[[mgr.prepend_keymap]]
on = ["c", "a", "a"]
run = "plugin compress"
desc = "Archive selected files"

[[mgr.prepend_keymap]]
on = ["c", "a", "p"]
run = "plugin compress -p"
desc = "Archive selected files (password)"

[[mgr.prepend_keymap]]
on = ["c", "a", "h"]
run = "plugin compress -ph"
desc = "Archive selected files (password+header)"

[[mgr.prepend_keymap]]
on = ["c", "a", "l"]
run = "plugin compress -l"
desc = "Archive selected files (compression level)"

[[mgr.prepend_keymap]]
on = ["c", "a", "u"]
run = "plugin compress -phl"
desc = "Archive selected files (password+header+level)"

[[mgr.prepend_keymap]]
on = ["g", "w", "r"]
run = "cd $CJGITLAB"
desc = "Go to gitlab directory"

[[mgr.prepend_keymap]]
on = ["g", "w", "a"]
run = "cd $CJGITLAB/architects"
desc = "Go to architects directory"

[[mgr.prepend_keymap]]
on = ["c", "v"]
run = "plugin save-clipboard-to-file"
desc = "Paste clipboard content to file and hover after created"

[[mgr.prepend_keymap]]
on = "<C-y>"
run = [
  'shell -- for path in "$@"; do echo "file://$path"; done | cb copy',
  "yank",
]
desc = "Copy file URLs to clipboard"

[[mgr.prepend_keymap]]
on = ["c", "c"]
run = '''
	sh -c 'cb copy "$@"'
'''
desc = "Copy files to clipboard"

[[mgr.prepend_keymap]]
on = ["c", "f"]
run = '''
	sh -c 'for path in "$@"; do cb copy < "$path"; done'
'''
desc = "Copy file contents to clipboard"
