tags
.zsh_history
/plugins
office_profile
backups
themes
.zcompcache
.zcompdump
Brewfile.lock.json
*.pem
gitconfig-office
.zsh_sessions
.DS_Store
.venv
karabiner/automatic_backups
config/.config/kitty/get_layout.py
config/.config/kitty/pass_keys.py
