tags
.zsh_history
/plugins
office_profile
backups
themes
.zcompcache
.zcompdump
Brewfile.lock.json
*.pem
gitconfig-office
.zsh_sessions
.DS_Store
.venv
karabiner/automatic_backups
config/.config/yazi/plugins
__pycache__
config/.config/k9s/benchmarks
config/.config/k9s/clusters
config/.config/k9s/screen-dumps
config/.gnupg/*
!config/.gnupg/gpg-agent.conf
