[include]
    path = ~/zdotdir/gitconfig-personal

[includeIf "hasconfig:remote.*.url:git@gitlab.*.*:*/**"]
    path = ~/zdotdir/gitconfig-office

[core]
	excludesfile = ~/.gitignore_global
	whitespace = trailing-space,cr-at-eol
	editor = nvim

[alias]
	root = rev-parse --show-toplevel
[filter "lfs"]
  required = true
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[commit]
  gpgsign = true
[rerere]
	enabled = true
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = false
