<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>00E9C675-6458-4A0C-B2DA-2659111C65C6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cjurl</string>
			<key>text</key>
			<string>CJ Url</string>
			<key>url</key>
			<string>http://cjurl.me/{query}</string>
		</dict>
		<key>92F42A7E-2179-4E8F-A22C-676318375731</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cjsearch</string>
			<key>text</key>
			<string>CJ Search</string>
			<key>url</key>
			<string>http://search.t.cjpowered.com/search?q={query}</string>
		</dict>
		<key>F7278550-BA72-4532-818F-E91922BCA503</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cjpad</string>
			<key>text</key>
			<string>cj pad</string>
			<key>url</key>
			<string>https://notes.cj.dev/{query}</string>
		</dict>
	</dict>
</dict>
</plist>
