<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finderSelectionHotkey</key>
	<dict>
		<key>key</key>
		<integer>124</integer>
		<key>mod</key>
		<integer>11534336</integer>
		<key>string</key>
		<string></string>
	</dict>
	<key>showWithRightArrow</key>
	<false/>
</dict>
</plist>
